.event-handling-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.event-handling-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.event-handling-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.event-handling-left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.event-handling-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.event-handling-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.event-handling-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.event-handling-link {
  font-size: 22px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.event-handling-dropdown-arrow {
  transition: 0.3s;
}
.event-handling-icon {
  width: 24px;
  height: 24px;
}
.event-handling-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.event-handling-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.event-handling-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.event-handling-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.event-handling-text {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.event-handling-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.event-handling-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.event-handling-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.event-handling-text01 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.event-handling-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.event-handling-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.event-handling-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.event-handling-text02 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.event-handling-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.event-handling-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.event-handling-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.event-handling-text03 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.event-handling-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.event-handling-cta-btn {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.event-handling-hero {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tenunits);
  background-size: cover;
  justify-content: center;
  background-image: url("public/Pics/calendar-concept-with-a-red-pin-1500w.png");
  background-repeat: no-repeat;
  background-position: center;
}
.event-handling-content-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tenunits);
  justify-content: center;
}
.event-handling-hero-text {
  width: 65%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.event-handling-heading {
  color: #ffffff;
  width: 650px;
  height: 65px;
  text-align: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-fiveunits);
  background-color: #020000;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.event-handling-cta-btn1 {
  color: var(--dl-color-gray-white);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: 30px;
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.event-handling-apis {
  width: 100%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: 37px;
}
.event-handling-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.event-handling-text04 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.event-handling-cards-container {
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.event-handling-features-card {
  width: 30%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.event-handling-icon-container {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.event-handling-icon02 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.event-handling-text-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.event-handling-heading1 {
  margin-bottom: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.event-handling-text05 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.event-handling-features-card1 {
  width: 30%;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.event-handling-icon-container1 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.event-handling-icon05 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.event-handling-text-container1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.event-handling-heading2 {
  margin-bottom: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.event-handling-text08 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.event-handling-features-card2 {
  width: 30%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.event-handling-icon-container2 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.event-handling-icon08 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.event-handling-text-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.event-handling-heading3 {
  margin-bottom: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.event-handling-text11 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.event-handling-features-card3 {
  width: 30%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.event-handling-icon-container3 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.event-handling-icon11 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.event-handling-text-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.event-handling-heading4 {
  margin-bottom: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.event-handling-text14 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.event-handling-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.event-handling-container1 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.event-handling-set {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.event-handling-text17 {
  color: #2f5496;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.event-handling-div {
  width: 1000px;
  height: 1200px;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.event-handling-image {
  width: 75%;
  object-fit: cover;
}
.event-handling-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.event-handling-clear {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.event-handling-text18 {
  color: #2f5496;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.event-handling-div1 {
  width: 1000px;
  height: 1100px;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.event-handling-image1 {
  width: 75%;
  object-fit: cover;
}
.event-handling-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.event-handling-wait {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.event-handling-text19 {
  color: #2f5496;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.event-handling-div2 {
  width: 1000px;
  height: 1100px;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.event-handling-image2 {
  width: 75%;
  object-fit: cover;
}
.event-handling-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.event-handling-get {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.event-handling-text20 {
  color: #2f5496;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.event-handling-div3 {
  width: 1000px;
  height: 1100px;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.event-handling-section-separator4 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.event-handling-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.event-handling-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.event-handling-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.event-handling-icon14 {
  width: 24px;
  height: 24px;
}
.event-handling-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.event-handling-icon16 {
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .event-handling-hero {
    flex-direction: column-reverse;
  }
  .event-handling-content-container {
    flex-direction: column-reverse;
  }
  .event-handling-hero-text {
    width: 80%;
  }
  .event-handling-social-links {
    align-items: center;
    flex-direction: row;
  }
}
@media(max-width: 480px) {
  .event-handling-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .event-handling-hero {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .event-handling-content-container {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .event-handling-hero-text {
    width: 100%;
  }
  .event-handling-heading {
    width: 85%;
    height: auto;
    font-size: 30px;
  }
  .event-handling-apis {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .event-handling-cards-container {
    flex-direction: column;
  }
  .event-handling-features-card {
    width: 100%;
  }
  .event-handling-features-card1 {
    width: 100%;
  }
  .event-handling-features-card2 {
    width: 100%;
  }
  .event-handling-features-card3 {
    width: 100%;
  }
  .event-handling-container1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .event-handling-set {
    align-items: center;
  }
  .event-handling-text17 {
    text-align: center;
  }
  .event-handling-div {
    width: 450;
    height: auto;
  }
  .event-handling-clear {
    align-items: center;
  }
  .event-handling-text18 {
    text-align: center;
  }
  .event-handling-div1 {
    width: 450;
    height: auto;
  }
  .event-handling-wait {
    align-items: center;
  }
  .event-handling-text19 {
    text-align: center;
  }
  .event-handling-div2 {
    width: 450;
    height: auto;
  }
  .event-handling-get {
    align-items: center;
  }
  .event-handling-text20 {
    text-align: center;
  }
  .event-handling-div3 {
    width: 450;
    height: auto;
  }
  .event-handling-footer-container {
    width: 100%;
  }
  .event-handling-footer {
    align-items: flex-start;
    flex-direction: row;
  }
  .event-handling-social-links {
    align-items: center;
    flex-direction: row;
  }
  .event-handling-icon14 {
    width: 75;
    height: 75;
    padding-right: 2;
  }
  .event-handling-text21 {
    font-size: small;
  }
  .event-handling-copyright-container {
    align-items: center;
    flex-direction: row;
  }
  .event-handling-icon16 {
    width: 75;
    height: 75;
    padding-right: 2;
  }
  .event-handling-text22 {
    font-size: small;
  }
}
