.resource-management-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.resource-management-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.resource-management-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.resource-management-left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.resource-management-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.resource-management-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.resource-management-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.resource-management-link {
  font-size: 22px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.resource-management-dropdown-arrow {
  transition: 0.3s;
}
.resource-management-icon {
  width: 24px;
  height: 24px;
}
.resource-management-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.resource-management-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
  text-decoration: none;
}
.resource-management-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.resource-management-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.resource-management-text {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.resource-management-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.resource-management-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.resource-management-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.resource-management-text01 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.resource-management-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.resource-management-cta-btn {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.resource-management-hero {
  width: 100%;
  display: flex;
  opacity: 1;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tenunits);
  background-size: cover;
  justify-content: center;
  background-image: url("public/Pics/r-1500w.jpeg");
  background-repeat: no-repeat;
  background-position: center;
}
.resource-management-content-container {
  width: 100%;
  display: flex;
  opacity: 1;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tenunits);
  justify-content: center;
}
.resource-management-hero-text {
  width: 65%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.resource-management-heading {
  color: #ffffff;
  width: 650px;
  height: 65px;
  text-align: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-fiveunits);
  background-color: #000000;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.resource-management-cta-btn1 {
  color: var(--dl-color-gray-white);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: 30px;
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.resource-management-apis {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.resource-management-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.resource-management-text02 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.resource-management-cards-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.resource-management-features-card {
  width: 30%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  margin-right: 200px;
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.resource-management-icon-container {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.resource-management-icon02 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.resource-management-text-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.resource-management-heading1 {
  margin-bottom: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.resource-management-text03 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.resource-management-features-card1 {
  width: 30%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.resource-management-icon-container1 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.resource-management-icon05 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.resource-management-text-container1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.resource-management-heading2 {
  margin-bottom: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.resource-management-text06 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.resource-management-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.resource-management-container1 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.resource-management-get-res {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.resource-management-text09 {
  color: rgb(47, 84, 150);
}
.resource-management-div {
  width: 1000px;
  height: 1100px;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.resource-management-image {
  width: 75%;
  object-fit: cover;
}
.resource-management-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.resource-management-release-res {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.resource-management-text12 {
  color: rgb(47, 84, 150);
}
.resource-management-div1 {
  width: 1000px;
  height: 1100px;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.resource-management-image1 {
  width: 75%;
  object-fit: cover;
}
.resource-management-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.resource-management-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.resource-management-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.resource-management-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.resource-management-icon08 {
  width: 24px;
  height: 24px;
}
.resource-management-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.resource-management-icon10 {
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .resource-management-hero {
    flex-direction: column-reverse;
  }
  .resource-management-content-container {
    flex-direction: column-reverse;
  }
  .resource-management-hero-text {
    width: 80%;
  }
}
@media(max-width: 480px) {
  .resource-management-container {
    height: auto;
  }
  .resource-management-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .resource-management-hero {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .resource-management-content-container {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .resource-management-hero-text {
    width: 100%;
  }
  .resource-management-heading {
    width: 85%;
    height: auto;
    font-size: 30px;
  }
  .resource-management-apis {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .resource-management-cards-container {
    flex-direction: column;
  }
  .resource-management-features-card {
    width: 100%;
  }
  .resource-management-features-card1 {
    width: 100%;
  }
  .resource-management-container1 {
    height: auto;
    align-items: flex-start;
    flex-direction: column;
  }
  .resource-management-get-res {
    height: auto;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .resource-management-div {
    width: 450px;
    height: auto;
    margin-top: var(--dl-space-space-unit);
    align-content: center;
    margin-bottom: var(--dl-space-space-unit);
  }
  .resource-management-release-res {
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .resource-management-div1 {
    width: 450px;
    height: auto;
    margin-top: var(--dl-space-space-unit);
    align-content: center;
    margin-bottom: var(--dl-space-space-unit);
  }
  .resource-management-footer-container {
    width: 100%;
  }
  .resource-management-footer {
    align-items: flex-start;
    flex-direction: row;
  }
  .resource-management-social-links {
    align-items: center;
    flex-direction: row;
  }
  .resource-management-icon08 {
    width: 75;
    height: 75;
    padding-right: 2;
  }
  .resource-management-text15 {
    font-size: small;
  }
  .resource-management-copyright-container {
    align-items: center;
    flex-direction: row;
  }
  .resource-management-icon10 {
    width: 75;
    height: 75;
    padding-right: 2;
  }
  .resource-management-text16 {
    font-size: small;
  }
}
