.task-management-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.task-management-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.task-management-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.task-management-left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.task-management-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.task-management-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.task-management-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.task-management-link {
  font-size: 22px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.task-management-dropdown-arrow {
  transition: 0.3s;
}
.task-management-icon {
  width: 24px;
  height: 24px;
}
.task-management-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.task-management-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.task-management-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.task-management-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.task-management-text {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.task-management-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.task-management-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.task-management-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.task-management-text01 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.task-management-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.task-management-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.task-management-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.task-management-text02 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.task-management-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.task-management-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.task-management-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.task-management-text03 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.task-management-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.task-management-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.task-management-text04 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.task-management-dropdown-toggle6 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.task-management-dropdown-toggle6:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.task-management-text05 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.task-management-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.task-management-cta-btn {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.task-management-hero {
  width: 100%;
  display: flex;
  opacity: 1;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tenunits);
  background-size: cover;
  justify-content: center;
  background-image: url("public/Pics/tm-1500w.jpeg");
  background-repeat: no-repeat;
  background-position: center;
}
.task-management-content-container {
  width: 100%;
  display: flex;
  opacity: 1;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tenunits);
  justify-content: center;
}
.task-management-hero-text {
  width: 65%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.task-management-heading {
  color: #ffffff;
  width: 650px;
  height: 65px;
  text-align: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-fiveunits);
  background-color: #000000;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.task-management-cta-btn1 {
  color: var(--dl-color-gray-white);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: 30px;
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.task-management-apis {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.task-management-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.task-management-text06 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.task-management-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.task-management-features-card {
  width: 30%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.task-management-icon-container {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.task-management-icon02 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.task-management-text-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.task-management-heading1 {
  margin-bottom: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.task-management-text07 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.task-management-features-card1 {
  width: 30%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.task-management-icon-container1 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.task-management-icon05 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.task-management-text-container1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.task-management-heading2 {
  margin-bottom: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.task-management-text10 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.task-management-features-card2 {
  width: 30%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.task-management-icon-container2 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.task-management-icon08 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.task-management-text-container2 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.task-management-heading3 {
  margin-bottom: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.task-management-text13 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.task-management-features-card3 {
  width: 30%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.task-management-icon-container3 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.task-management-icon11 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.task-management-text-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.task-management-heading4 {
  margin-bottom: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.task-management-text18 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.task-management-features-card4 {
  width: 30%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.task-management-icon-container4 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.task-management-icon14 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.task-management-text-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.task-management-heading5 {
  margin-bottom: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.task-management-text21 {
  color: var(--dl-color-gray-700);
  font-size: 22px;
  text-align: left;
}
.task-management-features-card5 {
  width: 30%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.task-management-icon-container5 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.task-management-icon17 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.task-management-text-container5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.task-management-heading6 {
  margin-bottom: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.task-management-text24 {
  color: var(--dl-color-gray-700);
  font-size: 22px;
  text-align: left;
}
.task-management-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.task-management-container1 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.task-management-activate {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-tenunits);
  flex-direction: column;
}
.task-management-text27 {
  color: #2f5496;
}
.task-management-div {
  width: 1000px;
  height: 1200px;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
}
.task-management-image {
  width: 75%;
  object-fit: cover;
}
.task-management-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.task-management-terminate {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.task-management-text28 {
  color: #2f5496;
}
.task-management-div1 {
  width: 1000px;
  height: 1100px;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.task-management-image1 {
  width: 75%;
  object-fit: cover;
}
.task-management-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.task-management-chain {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.task-management-text29 {
  color: #2f5496;
}
.task-management-div2 {
  width: 1000px;
  height: 1150px;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.task-management-image2 {
  width: 75%;
  object-fit: cover;
}
.task-management-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.task-management-schedule {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.task-management-text30 {
  color: #2f5496;
}
.task-management-div3 {
  width: 1000px;
  height: 1000px;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.task-management-image3 {
  width: 75%;
  object-fit: cover;
}
.task-management-section-separator4 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.task-management-get-id {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.task-management-text31 {
  color: #2f5496;
}
.task-management-div4 {
  width: 1000px;
  height: 1000px;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
}
.task-management-section-separator5 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.task-management-get-state {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.task-management-text32 {
  color: #2f5496;
}
.task-management-div5 {
  width: 1000px;
  height: 1000px;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.task-management-section-separator6 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.task-management-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.task-management-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.task-management-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.task-management-icon20 {
  width: 24px;
  height: 24px;
}
.task-management-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.task-management-icon22 {
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .task-management-hero {
    flex-direction: column-reverse;
  }
  .task-management-content-container {
    flex-direction: column-reverse;
  }
  .task-management-hero-text {
    width: 80%;
  }
}
@media(max-width: 480px) {
  .task-management-container {
    height: auto;
  }
  .task-management-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .task-management-hero {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .task-management-content-container {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .task-management-hero-text {
    width: 100%;
  }
  .task-management-heading {
    width: 85%;
    height: auto;
    font-size: 30px;
  }
  .task-management-apis {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .task-management-cards-container {
    flex-direction: column;
  }
  .task-management-features-card {
    width: 100%;
  }
  .task-management-features-card1 {
    width: 100%;
  }
  .task-management-features-card2 {
    width: 100%;
  }
  .task-management-features-card3 {
    width: 100%;
  }
  .task-management-features-card4 {
    width: 100%;
  }
  .task-management-features-card5 {
    width: 100%;
  }
  .task-management-container1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .task-management-activate {
    width: auto;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    margin-bottom: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .task-management-div {
    width: 450px;
    height: auto;
    padding-left: var(--dl-space-space-fiveunits);
    align-content: center;
  }
  .task-management-terminate {
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .task-management-div1 {
    width: 450px;
    height: auto;
    margin-top: var(--dl-space-space-unit);
    align-content: center;
    margin-bottom: var(--dl-space-space-unit);
  }
  .task-management-chain {
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .task-management-div2 {
    width: 450px;
    height: auto;
    margin-top: var(--dl-space-space-unit);
    align-content: center;
    margin-bottom: var(--dl-space-space-unit);
  }
  .task-management-schedule {
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .task-management-div3 {
    width: 450px;
    height: auto;
    margin-top: var(--dl-space-space-unit);
    align-content: center;
    margin-bottom: var(--dl-space-space-unit);
  }
  .task-management-get-id {
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .task-management-div4 {
    width: 450px;
    height: auto;
    padding-top: var(--dl-space-space-unit);
    align-content: center;
    padding-bottom: var(--dl-space-space-unit);
  }
  .task-management-get-state {
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .task-management-div5 {
    width: 450px;
    height: auto;
    margin-top: var(--dl-space-space-unit);
    align-content: center;
    margin-bottom: var(--dl-space-space-unit);
  }
  .task-management-footer-container {
    width: 100%;
  }
  .task-management-footer {
    align-items: flex-start;
    flex-direction: row;
  }
  .task-management-social-links {
    align-items: center;
    flex-direction: row;
  }
  .task-management-icon20 {
    width: 75;
    height: 75;
    padding-right: 2;
  }
  .task-management-text33 {
    font-size: small;
  }
  .task-management-copyright-container {
    align-items: center;
    flex-direction: row;
  }
  .task-management-icon22 {
    width: 75;
    height: 75;
    padding-right: 2;
  }
  .task-management-text34 {
    font-size: small;
  }
}
